# map()

In [2]:
def fahrenheit(T):
    return (9.0/5)*T + 32

In [3]:
fahrenheit(0)

32.0

In [4]:
temp = [0, 22, 52, 79, 100]

In [5]:
map(fahrenheit, temp)

[32.0, 71.6, 125.60000000000001, 174.20000000000002, 212.0]

In [6]:
map(lambda T: (9.0/5)*T + 32, temp)

[32.0, 71.6, 125.60000000000001, 174.20000000000002, 212.0]

In [8]:
lambda x,y: x+y

In [9]:
a = [1,2,3]
b = [4,5,6]
c = [7,8,9]

In [10]:
map(lambda x,y:x+y, a, b)

[5, 7, 9]

In [11]:
map(lambda x,y,z: x+y+z, a,b,c)

[12, 15, 18]

In [13]:
map(lambda x:x*-1, a)

[-1, -2, -3]

# reduce()

In [16]:
m_list = [12,56,79,45]

In [17]:
reduce(lambda x,y:x+y, m_list)

192

In [18]:
max(m_list)

79

In [19]:
find_max = lambda x,y: x if x > y else y

In [20]:
reduce(find_max, m_list)

79

In [23]:
m_list2 = ['a', 'z', 'c', 'g']

In [24]:
max(m_list2)

'z'

In [25]:
reduce(find_max, m_list2)

'z'

In [40]:
m_list3 = ['a1', '2z', 'aw', 'a']

In [41]:
reduce(find_max, m_list3)

'aw'

# filter()

In [44]:
def even_check(num):
    if num % 2 == 0:
        return True
    else:
        return False

In [45]:
even_check(56)

True

In [46]:
even_check(5)

False

In [47]:
m_list4 = [0,1,2,3,4,5]

In [48]:
filter(even_check, m_list4)

[0, 2, 4]

In [49]:
filter(lambda num: num%2 == 0, m_list4)

[0, 2, 4]

# zip()

In [51]:
x = [1,2,3]

In [52]:
y = [4,5,6]

In [53]:
zip(x,y)

[(1, 4), (2, 5), (3, 6)]

In [54]:
zip(x,x)

[(1, 1), (2, 2), (3, 3)]

In [55]:
zip(x,x,y)

[(1, 1, 4), (2, 2, 5), (3, 3, 6)]

In [56]:
z = ['a', 'b']

In [57]:
zip(x,y,z)

[(1, 4, 'a'), (2, 5, 'b')]

In [58]:
zip(z,x,y)

[('a', 1, 4), ('b', 2, 5)]

# enumerate()

In [64]:
for (count, item) in enumerate(m_list3):
    print count, item

0 a1
1 2z
2 aw
3 a

In [62]:
for (count, item) in enumerate(m_list2):
    if count >= 2:
        break
    else:
        print count, item

0 a
1 z

# all(), any()

In [69]:
m_list5 = [False, True, False, False, True]

In [70]:
any(m_list5)

True

In [71]:
all(m_list5)

False

# complex()

In [73]:
complex(2,3)

(2+3j)

In [74]:
complex(10,0.5)

(10+0.5j)

In [75]:
complex('5+2j')

(5+2j)

In [77]:
complex('58-52j')

(58-52j)

In [78]:
complex('-5j')

-5j

# Collections Module

### defaultdict

In [1]:
from collections import defaultdict

In [2]:
# without using defaultdict
m_dict = {'k1': 1}

In [3]:
m_dict['k1']

1

In [4]:
m_dict['k2']

KeyError: 'k2'

In [8]:
#using defaultdict

m_dict2 = defaultdict(object)

In [9]:
m_dict2['k1213']

In [10]:
for key in m_dict2:
    print key

k1213

In [11]:
m_dict3 = defaultdict(lambda : 0)

In [12]:
m_dict3['k1']

0

In [13]:
m_dict3['k2'] = 2

In [14]:
m_dict3

defaultdict(<function __main__.<lambda>>, {'k1': 0, 'k2': 2})

### orderedDict

In [29]:
# un-ordered dictionary
m_dict4 = {}
m_dict4['k1'] = 1
m_dict4['k2'] = 2
m_dict4['k3'] = 3
m_dict4['k4'] = 4
m_dict4['k5'] = 5

In [30]:
m_dict4

{'k1': 1, 'k2': 2, 'k3': 3, 'k4': 4, 'k5': 5}

In [31]:
for k,v in m_dict4:
    print k, v

k 3
k 2
k 1
k 5
k 4

In [32]:
for k,v in m_dict4.items():
    print k, v

k3 3
k2 2
k1 1
k5 5
k4 4

In [33]:
m_dict5 = {}
m_dict5['k4'] = 4
m_dict5['k2'] = 2
m_dict5['k5'] = 5
m_dict5['k1'] = 1
m_dict5['k3'] = 3

In [34]:
m_dict4 == m_dict5

True

In [36]:
# ordered dict

from collections import OrderedDict

m_dict6 = OrderedDict()
m_dict6['k4'] = 4
m_dict6['k2'] = 2
m_dict6['k5'] = 5
m_dict6['k1'] = 1
m_dict6['k3'] = 3

m_dict7 = OrderedDict()
m_dict7['k1'] = 1
m_dict7['k2'] = 2
m_dict7['k3'] = 3
m_dict7['k4'] = 4
m_dict7['k5'] = 5

In [37]:
m_dict6 == m_dict7     # comparing two ORDERED dict

False

In [38]:
m_dict5 == m_dict6     # comparing ORDERED & UN-ORDERED dict

True

In [39]:
m_dict5 == m_dict7     # comparing ORDERED & UN-ORDERED dict

True

In [40]:
m_dict4 == m_dict5     # comparing two UN-ORDERED dict

True

In [44]:
m_dict7.values()

[1, 2, 3, 4, 5]

### namedtuple()

In [45]:
# namedtuple() assigns names to every element of tuple

In [46]:
m_tuple = (1,2,3,4,5,6,7,8,9)

In [47]:
m_tuple[0]

1

In [49]:
m_tuple[5]

6

In [50]:
from collections import namedtuple

In [51]:
Dog = namedtuple('DOG', 'age breed name')

In [52]:
m_dog = Dog(2, 'Lab', 'Tommy')

In [53]:
m_dog

DOG(age=2, breed='Lab', name='Tommy')

In [62]:
m_dog.age

2

In [63]:
m_dog.breed

'Lab'

In [64]:
m_dog.name

'Tommy'

In [65]:
m_dog[0]

2

In [66]:
m_dog[1]

'Lab'

In [67]:
m_dog[2]

'Tommy'