# map()

In [26]:
def fahrenheit(T):
    return (9.0/5)*T + 32

In [27]:
fahrenheit(0)

32.0

In [28]:
temp = [0, 22, 52, 79, 100]

In [29]:
map(fahrenheit, temp)

[32.0, 71.6, 125.60000000000001, 174.20000000000002, 212.0]

In [30]:
map(lambda T: (9.0/5)*T + 32, temp)

[32.0, 71.6, 125.60000000000001, 174.20000000000002, 212.0]

In [31]:
lambda x,y: x+y

In [32]:
a = [1,2,3]
b = [4,5,6]
c = [7,8,9]

In [33]:
map(lambda x,y:x+y, a, b)

[5, 7, 9]

In [34]:
map(lambda x,y,z: x+y+z, a,b,c)

[12, 15, 18]

In [35]:
map(lambda x:x*-1, a)

[-1, -2, -3]

# reduce()

In [36]:
m_list = [12,56,79,45]

In [37]:
reduce(lambda x,y:x+y, m_list)

192

In [38]:
max(m_list)

79

In [39]:
find_max = lambda x,y: x if x > y else y

In [40]:
reduce(find_max, m_list)

79

In [41]:
m_list2 = ['a', 'z', 'c', 'g']

In [42]:
max(m_list2)

'z'

In [43]:
reduce(find_max, m_list2)

'z'

In [44]:
m_list3 = ['a1', '2z', 'aw', 'a']

In [45]:
reduce(find_max, m_list3)

'aw'

# filter()

In [46]:
def even_check(num):
    if num % 2 == 0:
        return True
    else:
        return False

In [47]:
even_check(56)

True

In [48]:
even_check(5)

False

In [49]:
m_list4 = [0,1,2,3,4,5]

In [50]:
filter(even_check, m_list4)

[0, 2, 4]

In [51]:
filter(lambda num: num%2 == 0, m_list4)

[0, 2, 4]

# zip()

In [52]:
x = [1,2,3]

In [53]:
y = [4,5,6]

In [54]:
zip(x,y)

[(1, 4), (2, 5), (3, 6)]

In [55]:
zip(x,x)

[(1, 1), (2, 2), (3, 3)]

In [56]:
zip(x,x,y)

[(1, 1, 4), (2, 2, 5), (3, 3, 6)]

In [57]:
z = ['a', 'b']

In [58]:
zip(x,y,z)

[(1, 4, 'a'), (2, 5, 'b')]

In [59]:
zip(z,x,y)

[('a', 1, 4), ('b', 2, 5)]

# enumerate()

In [60]:
for (count, item) in enumerate(m_list3):
    print count, item

0 a1
1 2z
2 aw
3 a

In [61]:
for (count, item) in enumerate(m_list2):
    if count >= 2:
        break
    else:
        print count, item

0 a
1 z

# all(), any()

In [62]:
m_list5 = [False, True, False, False, True]

In [63]:
any(m_list5)

True

In [64]:
all(m_list5)

False

# complex()

In [65]:
complex(2,3)

(2+3j)

In [66]:
complex(10,0.5)

(10+0.5j)

In [67]:
complex('5+2j')

(5+2j)

In [68]:
complex('58-52j')

(58-52j)

In [69]:
complex('-5j')

-5j

# Collections Module

### defaultdict

In [70]:
from collections import defaultdict

In [71]:
# without using defaultdict
m_dict = {'k1': 1}

In [72]:
m_dict['k1']

1

In [73]:
m_dict['k2']

KeyError: 'k2'

In [74]:
#using defaultdict

m_dict2 = defaultdict(object)

In [75]:
m_dict2['k1213']

In [76]:
for key in m_dict2:
    print key

k1213

In [77]:
m_dict3 = defaultdict(lambda : 0)

In [78]:
m_dict3['k1']

0

In [79]:
m_dict3['k2'] = 2

In [80]:
m_dict3

defaultdict(<function __main__.<lambda>>, {'k1': 0, 'k2': 2})

### orderedDict

In [81]:
# un-ordered dictionary
m_dict4 = {}
m_dict4['k1'] = 1
m_dict4['k2'] = 2
m_dict4['k3'] = 3
m_dict4['k4'] = 4
m_dict4['k5'] = 5

In [82]:
m_dict4

{'k1': 1, 'k2': 2, 'k3': 3, 'k4': 4, 'k5': 5}

In [83]:
for k,v in m_dict4:
    print k, v

k 3
k 2
k 1
k 5
k 4

In [84]:
for k,v in m_dict4.items():
    print k, v

k3 3
k2 2
k1 1
k5 5
k4 4

In [85]:
m_dict5 = {}
m_dict5['k4'] = 4
m_dict5['k2'] = 2
m_dict5['k5'] = 5
m_dict5['k1'] = 1
m_dict5['k3'] = 3

In [86]:
m_dict4 == m_dict5

True

In [87]:
# ordered dict

from collections import OrderedDict

m_dict6 = OrderedDict()
m_dict6['k4'] = 4
m_dict6['k2'] = 2
m_dict6['k5'] = 5
m_dict6['k1'] = 1
m_dict6['k3'] = 3

m_dict7 = OrderedDict()
m_dict7['k1'] = 1
m_dict7['k2'] = 2
m_dict7['k3'] = 3
m_dict7['k4'] = 4
m_dict7['k5'] = 5

In [88]:
m_dict6 == m_dict7     # comparing two ORDERED dict

False

In [89]:
m_dict5 == m_dict6     # comparing ORDERED & UN-ORDERED dict

True

In [90]:
m_dict5 == m_dict7     # comparing ORDERED & UN-ORDERED dict

True

In [91]:
m_dict4 == m_dict5     # comparing two UN-ORDERED dict

True

In [92]:
m_dict7.values()

[1, 2, 3, 4, 5]

### namedtuple()

In [93]:
# namedtuple() assigns names to every element of tuple

In [94]:
m_tuple = (1,2,3,4,5,6,7,8,9)

In [95]:
m_tuple[0]

1

In [96]:
m_tuple[5]

6

In [97]:
from collections import namedtuple

In [98]:
Dog = namedtuple('DOG', 'age breed name')

In [99]:
m_dog = Dog(2, 'Lab', 'Tommy')

In [100]:
m_dog

DOG(age=2, breed='Lab', name='Tommy')

In [101]:
m_dog.age

2

In [102]:
m_dog.breed

'Lab'

In [103]:
m_dog.name

'Tommy'

In [104]:
m_dog[0]

2

In [105]:
m_dog[1]

'Lab'

In [106]:
m_dog[2]

'Tommy'

## Datetime

In [107]:
import datetime

In [108]:
m_time = datetime.time(5,25,1)

In [109]:
print m_time

05:25:01

In [110]:
print datetime.time.max

23:59:59.999999

In [111]:
print datetime.time.min

00:00:00

In [112]:
print datetime.time.resolution

0:00:00.000001

In [113]:
m_today = datetime.date.today()

In [114]:
print m_today

2018-01-15

In [115]:
m_today.timetuple()

time.struct_time(tm_year=2018, tm_mon=1, tm_mday=15, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=0, tm_yday=15, tm_isdst=-1)

In [116]:
m_today.day

15

## Python Debugger

In [120]:
import pdb

In [121]:
x = [1,23,45]
y = 85
z = 20

result = y*z
print result

pdb.set_trace()

result2 = y+z
print result2

1700
--Return--
> <ipython-input-121-c3ac6d4c011a>(8)<module>()->None
-> pdb.set_trace()
(Pdb) x
[1, 23, 45]
(Pdb) y
85
(Pdb) z
20
(Pdb) y+x
*** TypeError: unsupported operand type(s) for +: 'int' and 'list'
(Pdb) q

BdbQuit:

In [ ]:
pdb.cmd