# Lists

In [1]:
m_list = [1,2,3]

In [2]:
m_list

[1, 2, 3]

In [3]:
m_list2 = ['potter', 1.23, 'v', 217]

In [4]:
m_list2

['potter', 1.23, 'v', 217]

In [5]:
len(m_list2)

4

In [6]:
m_list3 = ['one', 'two', 'three', 4, 5]

In [7]:
m_list3[0]

'one'

In [8]:
m_list3[3]

4

In [9]:
m_list3[1:]

['two', 'three', 4, 5]

In [10]:
m_list3[:4]

['one', 'two', 'three', 4]

In [11]:
'hello' + 'world'

'helloworld'

In [12]:
m_list + m_list2 + m_list3

[1, 2, 3, 'potter', 1.23, 'v', 217, 'one', 'two', 'three', 4, 5]

In [13]:
m_list3 + ['Vinay']

['one', 'two', 'three', 4, 5, 'Vinay']

In [14]:
m_list = m_list + m_list2

In [15]:
m_list

[1, 2, 3, 'potter', 1.23, 'v', 217]

In [17]:
m_list3 * 2

['one', 'two', 'three', 4, 5, 'one', 'two', 'three', 4, 5]

In [18]:
m_list3 * 3

['one',
 'two',
 'three',
 4,
 5,
 'one',
 'two',
 'three',
 4,
 5,
 'one',
 'two',
 'three',
 4,
 5]

In [19]:
m_list4 = [1,2,3]

In [20]:
m_list4.append('appendMe')

In [21]:
m_list4

[1, 2, 3, 'appendMe']

In [22]:
m_list4.append(2.0232)

In [23]:
m_list4

[1, 2, 3, 'appendMe', 2.0232]

In [26]:
m_list4.pop()

2.0232

In [27]:
m_list4

[1, 2, 3, 'appendMe']

In [28]:
m_list4.pop(2)

3

In [29]:
m_list4

[1, 2, 'appendMe']

In [30]:
m_list4[1]

2

In [31]:
m_list4[89]

IndexError: list index out of range

In [32]:
new_list = ['a', 'e', 'x', 'b', 'c']

In [33]:
new_list

['a', 'e', 'x', 'b', 'c']

In [35]:
new_list.reverse()

In [36]:
new_list

['c', 'b', 'x', 'e', 'a']

In [38]:
new_list.sort()

In [39]:
new_list

['a', 'b', 'c', 'e', 'x']

In [40]:
l_1 = [1,2.3]

In [41]:
l_2 = [4,5,6]

In [42]:
l_3 = [7,8,9]

In [43]:
matrix = [l_1, l_2, l_3]

In [44]:
matrix

[[1, 2.3], [4, 5, 6], [7, 8, 9]]

In [45]:
matrix[0]

[1, 2.3]

In [46]:
matrix[0][0]

1

In [47]:
matrix[2][2]

9

In [48]:
matrix[1][2]

6

In [52]:
# list comprehensions

first_col = [row[0] for row in matrix]

In [53]:
first_col

[1, 4, 7]

# Dictionaries

In [54]:
m_dict = {'key1':'value', 'key2':217}

In [55]:
m_dict

{'key1': 'value', 'key2': 217}

In [56]:
m_dict[0]

KeyError: 0

In [57]:
m_dict['key1']

'value'

In [58]:
m_dict['key2'] = m_dict['key2'] - 17

In [59]:
m_dict

{'key1': 'value', 'key2': 200}

In [60]:
# empty dictionary

d = {}

In [61]:
d

{}

In [62]:
# adding key:value pair to dictionary

d['animal'] = 'Phoenix'

In [63]:
d

{'animal': 'Phoenix'}

In [64]:
d['wizard'] = 'Potter'

In [65]:
d

{'animal': 'Phoenix', 'wizard': 'Potter'}

In [67]:
d2 = {'k1':{'nestkey':{'subnestkey': 'value'}}}

In [68]:
d2

{'k1': {'nestkey': {'subnestkey': 'value'}}}

In [72]:
d2['k1']

{'nestkey': {'subnestkey': 'value'}}

In [73]:
d2['k1']['nestkey']

{'subnestkey': 'value'}

In [74]:
d2['k1']['nestkey']['subnestkey']

'value'

In [75]:
d2['k1']['nestkey']['subnestkey'].upper()

'VALUE'

In [76]:
d3 = {}

In [77]:
d3['k1'] = 1

In [78]:
d3['k2'] = 2

In [79]:
d3['k3'] = 3

In [80]:
d3

{'k1': 1, 'k2': 2, 'k3': 3}

In [81]:
d3.keys()       # returns a list of all keys in the dict

['k3', 'k2', 'k1']

In [82]:
d3.values()     # returns a list of all values in the dict

[3, 2, 1]

In [84]:
d3.items()      # returns a list of tuples(key:value) n the dict

[('k3', 3), ('k2', 2), ('k1', 1)]

In [85]:
d3['k1'] = 0     # dictionaries are mutable

In [86]:
d3

{'k1': 0, 'k2': 2, 'k3': 3}

# Tuples

In [2]:
m_tuple = (1, 2, 3)

In [3]:
m_tuple

(1, 2, 3)

In [4]:
len(m_tuple)

3

In [5]:
m_tuple2 = ('one', 2)

In [6]:
m_tuple2

('one', 2)

In [8]:
m_tuple2[0]

'one'

In [9]:
m_tuple2[-1]

2

In [13]:
# returns the index of the input if that input exists inside the tuple
m_tuple2.index('one')

0

In [12]:
m_tuple2.index(2)

1

In [14]:
# returns the count of the input inside the tuple
m_tuple2.count('one')

1

In [15]:
m_tuple3 = (1, 1, 1, 2, 3, 2, 1, 3, 2, 1)

In [16]:
m_tuple3.count(1)

5

In [17]:
m_tuple3.count(2)

3

In [18]:
m_tuple3.count(3)

2

In [19]:
# tuples are immutable but lists are mutable

m_tuple3[0] = 123

TypeError: 'tuple' object does not support item assignment

# Files

In [23]:
pwd

u'/media/potter217/Saililashah/Projects/Lumos/Project_Python/py_bootcamp'

In [26]:
m_file = open('test.txt')

In [27]:
m_file

In [28]:
m_file.read()

'Hello Rustom Potter'

In [29]:
m_file.read()

''

In [31]:
m_file.seek(0)

In [32]:
m_file.read()

'Hello Rustom Potter'

In [33]:
m_file.read()

'\nNamaste!!'

In [34]:
m_file.read()

''

In [36]:
m_file.seek(0)

In [37]:
m_file.read()

'Hello Rustom Potter\nNamaste!!'

In [38]:
m_file.readline()

''

In [39]:
m_file.seek(0)

In [40]:
m_file.readline()

'Hello Rustom Potter\n'

In [41]:
m_file.seek(0)

In [42]:
m_file.readlines()

['Hello Rustom Potter\n', 'Namaste!!']

In [43]:
m_file.seek(1)

In [44]:
m_file.readlines()

['ello Rustom Potter\n', 'Namaste!!']

In [46]:
%%writefile newtest.txt
firstLine
second line

Writing newtest.txt

In [47]:
m_newtestFile = open('newtest.txt')

In [48]:
m_newtestFile.readlines()

['firstLine\n', 'second line']

In [49]:
ls

dataStructures.ipynb*  master/  newtest.txt*  objects.ipynb*  test.txt*

In [50]:
for line in open('newtest.txt'):
    print line

firstLine

second line

# Sets & Booleans

In [51]:
m_set = set()

In [52]:
m_set

set()

In [53]:
m_set.add(1)

In [54]:
m_set

{1}

In [55]:
m_set.add('123')

In [56]:
m_set

{1, '123'}

In [58]:
m_set.add(1)

In [59]:
m_set

{1, '123'}

In [60]:
m_listSET = [1,1,1,1,1,1,1, 2,2,2,2, 3,2,21,1]

In [61]:
m_listSET

[1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 3, 2, 21, 1]

In [64]:
# contains only UNIQUE elements
set(m_listSET)

{1, 2, 3, 21}

In [65]:
# BOOLEANS

In [66]:
m_bool = True

In [67]:
m_bool

True

In [68]:
1  > 2

False

In [69]:
1 > -1

True

In [70]:
0 > 0

False

In [71]:
m_boolNone = None

In [72]:
# a Placeholder
m_none = None

In [73]:
m_none

In [74]:
m_none = 'Rustom'

In [75]:
m_none

'Rustom'

In [76]:
2**38

274877906944